<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
    <!-- Footer -->
    <footer
            class="text-lg-start text-dark rounded bg-white">
        <!-- Grid container -->
        <div class="r"></div>
        <div class="p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <!-- class="col-md-4 border-right col-lg-3 col-xl-3 mt-3"-->
                    <div class="col-md-4 border-right col-lg-3 col-xl-3 mt-3">
                        <img class="w-100 pb-2"
                             src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/fahasa-logo.png">
                        <p>
                            Fahasa.com nhận đặt hàng trực tuyến và giao hàng tận nơi. Nhận hàng
                            trực tiếp tại văn phòng cũng như tất cả Hệ Thống Fahasa trên toàn quốc.
                        </p>
                        <div class="col-md-5 p-0 d-flex col-lg-4 ml-lg-0 text-center text-md-end">
                            <!-- Facebook -->
                            <a
                                    class="btn btn-outline-light btn-floating mt-1 mr-1 mb-1"

                                    role="button"
                            ><i class="fab fa-facebook-f"></i
                            ></a>

                            <!-- Twitter -->
                            <a
                                    class="btn btn-outline-light btn-floating m-1"

                                    role="button"
                            ><i class="fab fa-twitter"></i
                            ></a>

                            <!-- Google -->
                            <a
                                    class="btn btn-outline-light btn-floating m-1"

                                    role="button"
                            ><i class="fab fa-google"></i
                            ></a>

                            <!-- Instagram -->
                            <a
                                    class="btn btn-outline-light btn-floating m-1"

                                    role="button"
                            ><i class="fab fa-instagram"></i
                            ></a>
                        </div>
                        <div class="mt-2 d-flex">
                            <a href="https://play.google.com/store/apps/details?id=com.fahasa.android.fahasa"
                               class="mr-2">
                                <img alt="FAHASA.COM" src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/android1.png"
                                     style="max-width: 110px;">
                            </a>
                            <a href="https://itunes.apple.com/app/id1227597830?mt=8">
                                <img alt="FAHASA.COM" src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/appstore1.png"
                                     style="max-width: 110px;">
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none"/>

                    <div class="col-md-9">
                        <!-- Grid column -->
                        <div class="row d-flex">
                            <!-- col-md-4 ml-0 col-lg-2 col-xl-2  mt-3 -->
                            <div class="col-md-4 ml-0 mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">DỊCH VỤ</h6>
                                <p class="content">
                                    <a class="">Điều khoản sử dụng</a>
                                </p>
                                <p class="content">
                                    <a class="">Chính sách bảo mật thông tin cá nhân</a>
                                </p>
                                <p class="content">
                                    <a class="">Giới thiệu</a>
                                </p>
                                <p class="content">
                                    <a class="">Chính sách bảo mật thông tin thanh toán</a>
                                </p>

                            </div>
                            <!-- Grid column -->

                            <hr class="w-100 clearfix d-md-none"/>

                            <!-- Grid column -->
                            <div class="col-md-4 mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">
                                    Hỗ trợ
                                </h6>
                                <p class="content">
                                    <a class="">Chính sách đổi - trả - hoàn tiền</a>
                                </p>
                                <p class="content">
                                    <a class="">Chính sách bảo hành - bồi hàn</a>
                                </p>
                                <p class="content">
                                    <a class="">Chính sách vận chuyển</a>
                                </p>
                            </div>

                            <!-- Grid column -->
                            <hr class="w-100 clearfix d-md-none"/>

                            <!-- Grid column -->
                            <div class="col-md-4 mx-auto mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">Tài khoản của tôi</h6>
                                <p class="content">
                                    <a class="">Đăng nhập/Tạo tài khoản mới</a>
                                </p>
                                <p class="content">
                                    <a href="/account/address">Thay đổi địa chỉ khách hàng</a>
                                </p>
                                <p class="content">
                                    <a class="">Chi tiết tài khoản</a>
                                </p>
                                <p class="content">
                                    <a href="/account/purchase" class="">Lịch sử mua hàng</a>
                                </p>
                            </div>
                        </div>
                        <div class="partner">
                            <img style="max-width: 120px;  "
                                 src="https://cdn0.fahasa.com/media//wysiwyg/Logo-NCC/vnpay_logo.png">
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
            <!-- Section: Copyright -->
            <section class="p-3 pt-0">
                <div class="row d-flex align-items-center">
                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <!-- Copyright -->
                        <div class="p-3">
                            © 2020 Copyright:
                            <a class="text-white" href="https://mdbootstrap.com/"
                            >MDBootstrap.com</a
                            >
                        </div>
                        <!-- Copyright -->
                    </div>
                    <!-- Grid column -->
                </div>
            </section>
            <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->